In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_csvs/final_labelled_word_data1.csv')

In [3]:
df.labels.value_counts()

0    70695
3     1312
2      367
4      363
1      360
Name: labels, dtype: int64

In [57]:
h=df[df['type']==1].index

In [58]:
df.loc[h,'labels']=0

In [59]:
df.drop(columns=['xmin','ymin','xmax','ymax','type'],inplace=True)

In [60]:
df.columns=['files','words','coords','labels']

In [61]:
df.head()

                       files       words                  coords  labels
0  rudramotors-sale-2-08.png       RUDRA    [404, 165, 563, 201]       3
1  rudramotors-sale-2-08.png      MOTORS    [578, 166, 777, 202]       3
2  rudramotors-sale-2-08.png         TVS  [1035, 204, 1100, 246]       0
3  rudramotors-sale-2-08.png  Authorised    [396, 220, 482, 238]       0
4  rudramotors-sale-2-08.png     ASC:TVS    [491, 219, 575, 238]       0

In [62]:
df.labels.value_counts()

0    70695
3     1312
2      367
4      363
1      360
Name: labels, dtype: int64

In [63]:
data = pd.DataFrame(data=[df['words'],df['coords'],df['files'],df['labels']]).T

In [49]:
data.labels.value_counts()

0    70695
3     1312
2      367
4      363
1      360
Name: labels, dtype: int64

In [50]:
data.head()

        words                  coords                      files labels
0       RUDRA    [404, 165, 563, 201]  rudramotors-sale-2-08.png      3
1      MOTORS    [578, 166, 777, 202]  rudramotors-sale-2-08.png      3
2         TVS  [1035, 204, 1100, 246]  rudramotors-sale-2-08.png      0
3  Authorised    [396, 220, 482, 238]  rudramotors-sale-2-08.png      0
4     ASC:TVS    [491, 219, 575, 238]  rudramotors-sale-2-08.png      0

In [51]:
import ast
import numpy as np
data.coords = data.coords.apply(lambda x: ast.literal_eval(x))
print(data.shape)
files = np.unique(data.files)
df=[]
for j,i in enumerate(files):
    new_df = data[data['files']==i]
    
    order=order_l2r_t2b(new_df)
    if j%10==0:
        print(j)
    df.append(order)
    
final_df=pd.concat(df,axis=0)
print(final_df.shape)

(73097, 4)
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
(73097, 4)

In [34]:
def order_l2r_t2b(new_df):
    '''
    input column names and ordering: words, coords,files,labels
    
    '''
    p=[]
    for i in new_df.iterrows():

        ymin = i[1][1][1]

        k = []

        for j in new_df.iterrows():
            ymin1 = j[1][1][1]

            if k == [] and (i[0] not in [y for x in p for y in x]):
                k.append(i[0])
            if abs(ymin-ymin1)<5 and j[0] not in [y for x in p for y in x]:
                k.append(j[0])

        if k not in [y for x in p for y in x] and k !=[]:
            p.append(list(set(k)))

    jk = []
    for ji in p:

        temp = new_df.loc[ji].sort_values('coords')
        ymin = temp['coords']
        jk.append((list(ymin)[0][1],temp))

    temp2 = sorted(jk,key=lambda x:x[0])

    temp3 = [x[1].reset_index(drop=True) for x in temp2]
    
    temp4 = pd.concat(temp3,axis=0).reset_index(drop=True)
    
    return temp4

In [64]:
data.to_csv('words_values_data_raunaq.csv',index=False)

In [ ]:
df